/*
* Aydin Cinar <cinar.aydinn@gmail.com>
* Typography
*/

.section--title {
  padding: 24px 0;
  color: $--color-text;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.validation-copy {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: $--color-validation;
}