/*
* Aydin Cinar <cinar.aydinn@gmail.com>
* Sizes
*/

.u-width-1-1 {
  width: 100%;
}

.u-width-1-2 {
  width: 50%;
}

.u-width-1-3 {
  width: calc(100% / 3);
}

.u-width-2-3 {
  width: calc(100% / 3 * 2);
}