/*
* Aydin Cinar <cinar.aydinn@gmail.com>
* Colors
*/

$--color-primary: #2CB34F;
$--color-text: #111321;
$--color-text-light: #9C9DA9;
$--color-light-bg: #F8F8F8;
$--color-border: #C5C6CD;
$--color-validation: #2CB34F;